.store_partition > div {
  flex: 2;
}

/* CSS Styles */
.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.store_partition {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 12px;
  border-radius: 6px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .store_partition {
    flex-direction: column;
    gap: 0;
  }

  .store_partition > div {
    flex: none;
  }

  .results {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 24px;
  }
}

@media screen and (max-width: 480px) {
  .results {
    grid-template-columns: 1fr;
  }
}
